.cabecera {
  display: flex;
  justify-content: space-around; 
  align-items: center;            
  background-color: #030303;    
  padding: 40px 30px;             
}

.cabecera h1 {
  color: #ffffff;
  font-family: 'Poppins', Segoe UI, Geneva, Verdana, sans-serif;
  font-size: 24px;
  margin: 0;
}

.menu {
  display: flex;
  align-items: center;
  gap: 20px;                       
}

.menu a {
  color: #ffffff;                 
  text-decoration: none;
  font-weight: normal;
  white-space: nowrap;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
}

.menu a:hover {
  color: #524686;
}

.Inicio {
  display: flex;
  align-items: center;
  gap: 20px;       
}

/* Baner Promocional*/
.hero {
  background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('');
  background-size: cover;
  background-position: center;
  color: white;
  padding: 100px 20px;
  margin-bottom: 30px;
  font-family: 'JetBrains Mono', sans-serif;
}

.hero h2 {
  font-family: 'JetBrains Mono', sans-serif;
  font-size: 32px;
  margin-bottom: 10px;
}

footer {
  background-color: #030303;
  color: white;
  padding: 20px;
  margin-top: 40px;
  text-align: center;
  font-size: 14px;
}

/* Grid de productos */
.contenedor-tienda {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px 40px 20px;
}

.contenedor-tienda h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #1b1a1a;
}

/* Producto tienda */
.grid-productos {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* Ajusta automáticamente las columnas */
  gap: 20px;
}

/* Destacar Producto */
.tarjeta-producto {
  background-color: #f9f9f9;
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.2s, box-shadow 0.2s;
}

.tarjeta-producto:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}

.tarjeta-producto img {
  width: 60%;
  height: 220px;
  max-width: 200px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 12px;
}

.tarjeta-producto h3 {
  font-size: 18px;
  margin: 5px 0;
  color: #1b1a1a;
}

.categoria-tag {
  font-size: 12px;
  color: #777;
  text-transform: uppercase;
  margin-bottom: 8px;
}